body{
    background-color:rgb(0,0,0);
}
.main{
    background-color:rgb(237, 157, 38);
    margin-left:0vw;
    width:75vw;
    min-height: 110vh;
    height:auto;
    padding-top:-12vh;

}
#header{
    margin-top:-5vh;
    padding-top:5vh;
    padding-left:2vw;
    font-size: 7vh;
}
.links{
    width:15vw;
    height:90vh;
    display:table-cell;
}
#places{
    color:orange;
    text-align:center;
    font-size: 3vh;
}
.video{
   width: 40vw;
   height: 25vw;
   margin:0 auto;
}
.blurb{
  width: 50vw;
  margin: 0 auto;
  font-size: 2vh;
}
